<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>servlet.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>servlet.form.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeLectServLet2</display-name>
    <servlet-name>SeLectServLet2</servlet-name>
    <servlet-class>form.servlet.SeLectServLet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeLectServLet2</servlet-name>
    <url-pattern>/SeLectServLet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CBS</display-name>
    <servlet-name>CBS</servlet-name>
    <servlet-class>servlet.form.CBS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CBS</servlet-name>
    <url-pattern>/CBS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoiceDogServlet4</display-name>
    <servlet-name>ChoiceDogServlet4</servlet-name>
    <servlet-class>servlet.form.ChoiceDogServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoiceDogServlet4</servlet-name>
    <url-pattern>/ChoiceDogServlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiFormServlet5</display-name>
    <servlet-name>MultiFormServlet5</servlet-name>
    <servlet-class>form.servlet.MultiFormServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiFormServlet5</servlet-name>
    <url-pattern>/MFT5</url-pattern>
  </servlet-mapping>
</web-app>